:root {
  --primary: #7ec699;
  --primary-dark: #0e3a26;
  --primary-light: #bed3ca;
  --primary-lighter: #e6ffe9;
  --faded: #f8f8f8;

  --code-light: #ff8ddd;
}

/* 
main h3 + table thead > tr > th:first-child {
  text-align: center;
  min-width: 160px;
}

main h3 + table tbody > tr > td:first-child {
  text-align: right;
  background-color: #fff;
}

main h3 + table tbody > tr:first-child > td:last-child {
  font-size: 1.1em;
}  
main h3 + table th {
  background-color: var(--primary-light);
}

main h3 + table tr > td:last-child {
  background-color: #fff !important;
}

main h3 + table tr > td:first-child {
  background-color: #ccc !important;
}
*/

main h2 {
  margin: 30px 0px 20px 0;
  padding: 10px 0px;
}

main h3 {
  margin-top: 3rem;
  border-bottom: 2px solid var(--primary-light);
}

main h6,
main h5,
main h4 {
  border-left: 4px solid var(--primary-light);
  padding: 5px 10px;
}

main p.tip {
  font-size: 1.1em;
}
